! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #282828, #282828, #282828
rofi.color-normal: #282828, #d79921, #282828, #282828, #98971a
rofi.color-active: #282828, #268bd2, #282828, #282828, #26b759
rofi.color-urgent: #282828, #dc322f, #282828, #282828, #ced91a

# Window Style
rofi.lines: 3
rofi.eh: 2
rofi.width: 100
rofi.padding: 480
rofi.opacity: 70
rofi.bw: 0
rofi.font: DejaVu Sans Mono 18
